body{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#everythang {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border: solid black;
    width: 400px;
    height: 600px;
    padding: 30px;
    background-color: green;
    border-radius: 12px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 400px;
    height: 150px;
    border: black;
    border-radius: 12px;
    background-color: white;
}

.num{
    font-size: 30px;
    width: 75px;
    height: 75px;
}

#clear, #delete{
    width: 150px;
    height: 75px;
    font-size: 25px;
    border: 4px black solid;
    background-color: red;
}

#delete{
    background-color: grey;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 440px;
    gap: 8px;
    margin: 5px;
}

.clear-delete{
    display: flex;
    justify-content: space-between;
    width: 400px;
}